#alt-fact{
    page-about{
       .cow-row {
           padding-top : 5%;
           padding-bottom : 15%;
           background-color: color($colors, primary);
       }

       .logo-text-row {
           margin-top : -14%;
       }
    }
}